#center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#basic-content {
    display: inline-flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;

    .opt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 9px;

        * {
            margin: 5px;
        }
    }
    .intext {
        background: #212121;
        outline: none;
        border: none;
        border-bottom: 1px solid #212121;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        text-align: center;
        font-size: 19px;
        transition: border-color .25s ease-out;

        &:focus {
            border-color: grey;
            transition: border-color .25s ease-out;
        }
        &::placeholder {
            transition: opacity .25s ease-in-out;
        }
        &:focus::placeholder {
            opacity: 0;
            transition: opacity .25s ease-in-out;
        }
    }
    .stext {
        font-size: 10px;
    }
}