#center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#welcomer-content {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;

    .opt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 9px;

        * {
            margin: 5px;
        }
    }
    .intext {
        background: #212121;
        outline: none;
        border: none;
        border-bottom: 1px solid #212121;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        text-align: center;
        font-size: 19px;
        transition: border-color .25s ease-out;

        &:focus {
            border-color: grey;
            transition: border-color .25s ease-out;
        }
        &::placeholder {
            transition: opacity .25s ease-in-out;
        }
        &:focus::placeholder {
            opacity: 0;
            transition: opacity .25s ease-in-out;
        }
    }
    .ichk {
        height: 30px;
        width: 30px;
        background: #212121;
        outline: none;
        border: none;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance:none;

        &:checked {
            background: rgb(52, 157, 255);
        }
    }
    .stext {
        background: #212121;
        outline: none;
        border: none;
        border-radius: 5px;
        height: 30px;
        text-align: center;
        font-size: 10px;
        width: 170px;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-align-last: center;
        text-align: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
    }

    .messages {
        width: 300px;
        min-height: 500px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #212121;

        .ichk {
            background: #262626;

            &:checked {
                background: rgb(52, 157, 255);
            }
        }

        .intext {
            width: 85%;
            background: #262626;
        }
    }
}