# Dependencies lock files
package-lock.json
yarn.lock
tsconfig.tsbuildinfo

# Errors / debug
yarn-error.log

# Sensitive files
files/tokens.json
.env

# Builded source & node_modules
dist
public/css
node_modules