extends guild-template.pug

append guild-name
    h1#menu-title #{guild.g.name}

append content
    #data(data-id=guild.g.id)
    #center
        #view
            .opt
                p.ctitle Logs channel

append scripts
    