extends template.pug

append head
    title Luke - Dashboard
    link(rel="stylesheet", href="/css/guild.css")

append navbar-content
    a(href="/dashboard")
        | Dashboard
    a(href="/api/logout")
        | Logout

append content
    #settings
        block guild-name
        #options
            p.option(data-id="basic") Basics
            p.option(data-id="welcomer") Welcomer
            p.option(data-id="automod") Auto moderator
            p.option(data-id="basic") Soon
            p.option(data-id="basic") Soon
            p.option#save(style="background: #0698cd; border: none") Save
        #content
            #cnt
                block content
    script(src="/js/guild.js") 
    block scripts