doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/index.css")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
        script(src="/bootstrap/js/bootstrap.min.js") 
    body
        section#main
            #title
                h1.fs-1.fw-lighter Luke
                h1.fs-4.fw-lighter Leveling, moderation, text.
                h1.fs-4.fw-lighter Try it yourself!
                .center
                    button.btn.btn-outline-light(type="button")
                        | Invite
                    button.btn.btn-light(type="button")
                        | Dashboard