extends template.pug

append head
    title Luke - Home

append navbar-content
    if logged == true
        a(href="/dashboard")
            | Welcome #{user.tag}
        a(href="/api/logout")
            | Logout
    else
        a(href="/dashboard") Login

append content