doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block head
    body.preload
        #navbar
            h1#navbar-title Luke
            p#navbar-content
                block navbar-content
        
        #container
            block content
        